<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap" />
                <binding name="WSForWmsKdImplPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap" contract="WebServiceReference.WebServiceSoap"
                name="WebServiceSoap" />
            <endpoint address="http://172.16.43.2:7003/SRM/WSForWmsKd" binding="basicHttpBinding"
                bindingConfiguration="WSForWmsKdImplPortBinding" contract="SRMWebService.WSForWmsKdI"
                name="WSForWmsKdImplPort" />
        </client>
    </system.serviceModel>
</configuration>